.FeatureCard-root {
  --thumb-w: 343px;
  --thumb-h: 160px;
  --card-w: var(--thumb-w);
  --card-bg: var(--white);
  --sign-bg: var(--pink-500);
  --icon-bg: var(--blue-300);
  --icon-size: 40px;
  --sign-shadow: var(--pink-700);
  --sign-fg: var(--white);
  --gap: 8px;

  display: inline-flex;
  padding: 5px;
  position: relative;
  text-align: left;
}

.FeatureCard-container {
  background: var(--card-bg);
  box-shadow: 0px 4px 16px rgba(11, 17, 52, 0.2);
  border-radius: 4px;
  position: relative;
  width: var(--card-w);
}

.FeatureCard-sign {
  left: 0;
  top: 8.5px;
  padding: 5px 20px 5px 5px;
  background: var(--sign-bg);
  border: 0;
  color: var(--sign-fg);
  letter-spacing: 0.4px;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  clip-path: polygon(
    0% 0%,
    calc(100% - 20px) 0%,
    100% 50%,
    calc(100% - 26.5px) calc(100% + 5px),
    0 calc(100% + 5px)
  );
  display: inline-block;
  text-transform: uppercase;
  font-feature-settings: "case" on;
  z-index: 10;
}

.FeatureCard-sign::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background: var(--sign-shadow);
  width: 5px;
  height: 5px;
  border-radius: 0px 0px 0px 9999px;
}

.FeatureCard-cover {
  width: var(--thumb-w);
  height: var(--thumb-h);
  object-fit: cover;
}

.FeatureCard-summary {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--neutral-300);
}

.FeatureCard-summary__heading {
  display: flex;
  align-items: center;
}

.FeatureCard-summary__heading > * + * {
  margin-left: calc(var(--gap) * 2);
}

.FeatureCard-summary__heading-icon {
  padding: 9px;
  display: inline-flex;
  color: var(--white);
  background: #98bafc;
  border-radius: 12px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.FeatureCard-summary__heading-title {
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  color: var(--neutral-300);
}

.FeatureCard-summary__heading-meta {
  font-size: 14px;
  line-height: 19px;
  color: var(--neutral-100);
}

.FeatureCard-summary__price-range {
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
}

.FeatureCard-content {
  padding: calc(var(--gap) * 3);
}

.FeatureCard-content > * + * {
  margin-top: calc(var(--gap) * 2);
}

.FeatureCard-summary__container > * + * {
  margin-top: 12px;
}

.FeatureCard-action {
  display: flex;
  justify-content: flex-end;
}

.FeatureCard-action__more {
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  color: var(--blue-500);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.FeatureCard-description {
  white-space: pre-wrap;
}

@media (min-width: 767px) {
  .FeatureCard-container {
    --card-w: 544px;
    --thumb-w: 544px;
    --thumb-h: 272px;
  }
}
