:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* breakpoints */
  --lg: 767px;

  /* colors */
  --black: #000;
  --white: #fff;

  --neutral-100: #787d9c;
  --neutral-300: #1a2258;

  --pink-500: #ff72b6;
  --pink-700: #ce367f;

  --blue-300: #98bafc;
  --blue-500: #216BFF;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: var(--font-sans);
}

main {
  text-align: center;
}
